@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body{
        @apply transition-all select-none
    }

    /*  DARK  */

    body.dark {
        @apply bg-[#292c35] text-white
    }
    
    body.dark a{
        @apply text-white
    }
    
    body.dark .key-item {
        @apply text-white border-white bg-transparent
    }
    
    body.dark .mode-control div {
        background-color: #fff;
        color: #000;
    }

    body.dark .sign-in-item input{
        @apply text-black;
    }

    .container{
        @apply mx-auto pt-10 h-screen outline-none border-none max-w-[1300px]
    }
    .row-item{
        @apply flex justify-between
    }
    .key-item {
        @apply p-2 bg-transparent border-solid border-2 text-gray-600 font-semibold rounded-lg m-2 w-full inline-block text-center hover:bg-gray-100 transition-all cursor-pointer relative
    }
    .key-item[data-key='`']{
        width: 100px;
    }
    body.dark .key-item.drag-active{
        @apply border-blue-400 shadow-md
    }
    input#file{
        @apply absolute left-0 top-0 w-full h-full opacity-0 z-0 cursor-pointer
    }
    .audio-list{
      @apply border-solid border-2 border-gray-100 mt-10 rounded-lg w-1/2 m-2
    }
    .audio-list div{
      @apply border-solid border-b-2 border-gray-100 p-5 last:border-b-0
    }
    .audio-div{
        @apply text-[.5rem]
    }
    .none{
        display: none;
    }
    .playAudio audio{
        @apply w-full border-2 border-solid border-[#dfd8d8] rounded-[26px] mt-28
    }
    .remove-audio{
        @apply absolute top-[-5px] right-1 opacity-0
    }
    .show-btn{
        @apply opacity-100
    }
    .header h1{
        @apply text-3xl text-center mb-10 mt-10
    }
    .theme{
        @apply absolute top-0 right-0
    }
    .mode-control div{
        @apply cursor-pointer transition-all
    }
    #mode-check{
        @apply opacity-0 absolute
    }
    #mode-check:checked + .label .ball{
        @apply translate-x-6
    }
    .label{
        @apply w-[50px] h-[26px] bg-[#111] flex items-center justify-between rounded-[50px] p-[5px] relative
    }
    .ball{
        @apply w-[20px] h-[20px] bg-white absolute top-[2px] left-[2px] rounded-[50%] transition-transform
    }
    .fa-moon{
        @apply text-pink-200
    }
    .fa-sun {
        @apply text-yellow-200
    }
    .auth-container{
        @apply h-screen flex justify-center items-center
    }
    .sign-in{
        @apply w-full max-w-[400px] border-solid border-2 border-indigo-100 rounded-lg p-5 shadow-sm
    }
    .header h3{
        @apply text-2xl font-semibold text-center mb-6
    }
    .sign-in-item{
        @apply relative shadow-sm mt-5
    }
    .sign-in-item label{
        @apply block mb-5
    }
    .sign-in-item input {
        @apply w-full rounded-lg border-gray-300 px-5 focus:border-indigo-400 sm:text-sm border-solid border-2 p-2 focus-visible:border-indigo-400 focus-visible:!outline-none
    }
    .sign-btn{
        @apply w-full p-2 mt-10 bg-indigo-400 text-white rounded-lg
    }
    .response p {
        @apply text-red-400 text-xs font-semibold mt-10
    }
}